$color-green: hsl(75, 94%, 57%);
$color-green-dark: darken($color-green, 15%);

$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(0, 0%, 20%);
$color-dark-grey: hsl(0, 0%, 12%);
$color-off-black: hsl(0, 0%, 8%);

$font-family-primary: 'Inter', sans-serif;
$font-family-headings: 'Inter', sans-serif;

$font-size-primary: 14px;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;
